<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"
        defaultValue="atenciones-microservice" />
    <!-- Consola: formato por defecto de Spring Boot -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %magenta([${APP_NAME}])
                %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>
    <!-- Mapear spring.application.name a una variable de Logback -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
            <connectionTimeoutMs>3000</connectionTimeoutMs>
            <requestTimeoutMs>5000</requestTimeoutMs>
        </http>
        <format>
            <label>
                <pattern>app=${APP_NAME},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message class="com.github.loki4j.logback.JsonLayout">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
            </message>
        </format>
        <drainOnStop>false</drainOnStop>
        <metricsEnabled>false</metricsEnabled>
        <verbose>false</verbose>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />
    </root>
</configuration>